# Домашнее задание 1 по SQL
### Цой Сергей

[https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all](https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all)

1. Выберите заказчиков из Германии, Франции и Мадрида, выведите их название, страну и адрес.

In [ ]:
SELECT CustomerName, Country, Address  FROM Customers WHERE Country = "Germany" OR  Country = "France" OR City = "Madrid";

2. Выберите топ 3 страны по количеству заказчиков, выведите их названия и количество записей.

In [ ]:
SELECT Country, COUNT(CustomerID) CustomerCount FROM Customers GROUP BY Country ORDER BY CustomerCount DESC limit 3

3. Выберите перевозчика, который отправил 10-й по времени заказ, выведите его название, и дату отправления.

In [ ]:
SELECT * FROM (
	SELECT ShipperName, OrderDate FROM [Orders] JOIN [Shippers]  ON Orders.ShipperID = Shippers.ShipperID ORDER BY OrderDate ASC limit 10
) ORDER BY OrderDate DESC limit 1

4. Выберите самый дорогой заказ, выведите список товаров с их ценами.

In [ ]:
SELECT ProductName, Quantity*Price Cost FROM [OrderDetails]
JOIN (
	SELECT OrderID, SUM(Quantity*Price) Cost FROM [OrderDetails] JOIN [Products] ON OrderDetails.ProductID = Products.ProductID GROUP BY OrderID ORDER BY Cost DESC limit 1
    ) AS ExpensiveOrder ON OrderDetails.OrderID = ExpensiveOrder.OrderID
JOIN Products ON OrderDetails.ProductID = Products.ProductID

5. Какой товар больше всего заказывали по количеству единиц товара, выведите его название и количество единиц в каждом из заказов.

In [ ]:
SELECT ProductName, OrderID, Quantity FROM [OrderDetails]
JOIN (
	SELECT ProductID, SUM(Quantity) FullQuantity FROM [OrderDetails] GROUP BY ProductID ORDER BY FullQuantity DESC limit 1
    ) AS P ON OrderDetails.ProductID = P.ProductID
JOIN Products ON P.ProductID = Products.ProductID

6. Выведите топ 5 поставщиков по количеству заказов, выведите их названия, страну, контактное лицо и телефон.

In [ ]:
SELECT SupplierName, Country, ContactName, Phone FROM [Suppliers]
INNER JOIN (
	SELECT SupplierID, COUNT (Orders.OrderID) OrdersCount FROM [Products]
	INNER JOIN OrderDetails ON Products.ProductID = OrderDetails.ProductID
	INNER JOIN Orders ON OrderDetails.OrderID = Orders.OrderID
	GROUP BY SupplierID
	ORDER BY OrdersCount DESC limit 5
) AS S ON Suppliers.SupplierID = S.SupplierID

7. Какую категорию товаров заказывали больше всего по стоимости в Бразилии, выведите страну, название категории и сумму.

In [ ]:
SELECT Country, CategoryName, SUM(Quantity*Price) Sum FROM [Orders]
INNER JOIN (
	SELECT CustomerID, Country FROM [Customers] WHERE Country = "Brazil"
) AS C ON Orders.CustomerID = C.CustomerID
INNER JOIN [OrderDetails] ON Orders.OrderID = OrderDetails.OrderID
INNER JOIN [Products] ON Products.ProductID = OrderDetails.ProductID
INNER JOIN [Categories] ON Products.CategoryID = Categories.CategoryID
GROUP BY Categories.CategoryID
ORDER BY Sum DESC limit 1

8. Какая разница в стоимости между самым дорогим и самым дешевым заказом из США.

In [ ]:
SELECT MAX(Sum)-MIN(Sum) FROM (
    SELECT SUM(Quantity*Price) Sum FROM [Orders]
    INNER JOIN (
        SELECT CustomerID, Country FROM [Customers] WHERE Country = "USA"
    ) AS C ON Orders.CustomerID = C.CustomerID
    INNER JOIN [OrderDetails] ON Orders.OrderID = OrderDetails.OrderID
    INNER JOIN [Products] ON Products.ProductID = OrderDetails.ProductID
    GROUP BY OrderDetails.OrderID
    ORDER BY Sum DESC
)

9. Выведите количество заказов у каждого их трех самых молодых сотрудников, а также имя и фамилию во второй колонке.

In [ ]:
SELECT COUNT(Orders.OrderID) AS OrdersCount, FirstName || " " || LastName AS Employee
FROM [Orders]
INNER JOIN (
	SELECT * FROM [Employees] ORDER BY BirthDate DESC limit 3
) AS E ON Orders.EmployeeID = E.EmployeeID
GROUP BY E.EmployeeID

10. Сколько банок крабового мяса всего было заказано.

In [ ]:
SELECT SUM (Quantity) * 24 AS "Всего было заказано банок крабового мяса, банок (1 банка по 4 унции)" FROM [OrderDetails]
INNER JOIN (
	SELECT ProductID FROM [Products] WHERE ProductName LIKE "%Crab%"
) AS P ON OrderDetails.ProductID = P.ProductID